/* Content styling */
/* fonts for the text */
@import url("https://fonts.googleapis.com/css?family=Merriweather:700|Roboto");
@import url("https://fonts.googleapis.com/css?family=Anton|Roboto");

/* Color Variables */
$main-green: #c1d3d2;
$main-white: #ffffff;

/* Lists */
$colors: $main-green;
$fourColors: $main-green;
$pages: "contact";

//Themes For Every Route
$theme-colors: (
  "bg": (
    "about": $main-green,
  ),
  "text": (
    "contact": $main-white,
  ),
);

@function themeColor($key, $variant) {
  $map: map-get($theme-colors, $key);
  @return map-get($map, $variant);
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centererHorizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin centererVertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

$primary: #e14;
$secondary: #124;
$accent: #e72;

.contact-section {
  .container {
    display: flex;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
  }

  .card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba($secondary, 0.06);
    overflow: hidden;
  }

  .waves {
    height: 80px;
    background: linear-gradient(to bottom left, $primary, $accent);
  }

  h1 {
    margin: 2rem 2rem 0;
    font-size: 1.62rem;
  }

  .form {
    padding: 2rem;
  }
  .custom-button {
    font-size: 25px;
    height: 65px;
    padding: 0 10%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 5px 3px rgba(53, 136, 101, 0.159) !important;
    background: #7aceb2;
    cursor: pointer;
    color: #f7f6f4;
    font-weight: 700;
    &:hover {
      background: #7aceb2d7;
      box-shadow: 2px 2px 1px 3px rgba(95, 89, 89, 0.3);
      border-bottom: #000a17;
    }
    &:disabled,
    &[disabled] {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
  }

  @mixin input {
    display: block;
    width: 100%;
    border: 2px solid #eee;
    padding: 1ch;
    border-radius: 3px;
    transition: 150ms ease;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
  }

  @mixin input-focus {
    border-color: rgb(133, 214, 176);
    box-shadow: 1px 1px 1px 1px rgba(95, 89, 89, 0.3);
  }
  @mixin input-error {
    border-color: rgb(238, 53, 6);
    box-shadow: 1px 1px 1px 1px rgba(54, 2, 2, 0.3);
  }

  @mixin label {
    position: absolute;
    top: 1ch;
    left: 1ch;
    padding: 0 0.5ch;
    pointer-events: none;
    transition: 150ms ease;
    color: #888;
  }

  @mixin label-focus {
    position: absolute;
    top: 0;
    font-size: 0.9em;
    color: #7aceb2ff;
    font-weight: bold;
    transform: translateY(-50%);
    background-color: #fff;
    font-weight: 600;
  }

  @mixin label-error {
    position: absolute;
    top: 0;
    font-size: 0.9em;
    color: #7aceb2ff;
    font-weight: bold;
    transform: translateY(-50%);
    background-color: #fff;
    font-weight: 600;
  }

  .text-input {
    position: relative;
    margin-bottom: 1rem;
    label {
      @include label;
    }
    label.label-focus {
      @include label-focus;
    }
    label.label-error {
      @include label-error;
    }
    input {
      @include input;
    }
    input.input-focus {
      @include input-focus;
    }
    input.input-error {
      @include input-error;
    }
  }

  .text-area {
    position: relative;
    margin-bottom: 1rem;
    label {
      @include label;
    }
    label.label-focus {
      @include label-focus;
    }
    textarea {
      @include input;
      height: 8em;
    }
    textarea.input-focus {
      @include input-focus;
    }
    textarea.input-error {
      @include input-error;
    }
  }
}

.stack-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: #a2e0b5;
  opacity: 0.5;
}

/*Dont display p tag in tech icons images until hover
*/
.tech-icons {
  position: relative;

  svg {
    transition: transform 0.3s ease-in-out;
  }

  p {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    background-color: #568e76;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
  }

  &:hover {
    svg {
      transform: scale(0.2);
    }

    p {
      opacity: 1;
      font-size: 2.5rem;
    }
  }
}


